services:
  react-app:
    restart: unless-stopped
    build: ./FrontEnd
    container_name: react-bugtrack
    ports:
      - 3020:3000
    volumes:
      - ./FrontEnd:/app
      - /app/node_modules
    stdin_open: true
    tty: true

  php:
    restart: unless-stopped
    build: ./PHP
    container_name: PHP-bugtrack
    environment:
      - IP="bugphp.elijahcline.dev"
    ports:
      - 9020:80
    volumes:
      - ./PHP:/var/www/html

  mysql:
    image: mysql:8.0.31-debian
    container_name: MYSQL-bugtrack
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: sysadmin
      MYSQL_PASSWORD: sysAdminPass1
    volumes:
      - ./SQL/Data:/var/lib/mysql
    ports:
      - 3326:3306

  phpmyadmin:
    image: phpmyadmin:5.2.2-apache
    container_name: phpmyadmin-bugtrack
    restart: unless-stopped
    depends_on:
      - mysql
    environment:
      - PMA_HOST=MYSQL-bugtrack
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - 9021:80

  openvscode-server:
    image: lscr.io/linuxserver/openvscode-server:latest
    container_name: openvscode-server-bugtrack
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - CONNECTION_TOKEN= #optional
      - CONNECTION_SECRET= #optional
      - SUDO_PASSWORD=123 #optional
      - SUDO_PASSWORD_HASH= #optional
    volumes:
      - /path/to/openvscode-server/config:/config
      - ./:/workspace/
    ports:
      - 3021:3000
    restart: unless-stopped
