@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cascadia+Code:ital,wght@0,200..700;1,200..700");
* {
  font-family: "Cascadia Code", sans-serif;
}
h1,
h2 {
  font-family: "Alfa Slab One", serif;
}

.mainBackGrad {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(70, 15, 246, 0.75) 0%,
    rgba(120, 13, 182, 0.75) 11%,
    rgba(156, 11, 136, 0.75) 29%,
    rgba(187, 9, 97, 0.75) 50%,
    rgba(178, 10, 121, 0.75) 75%,
    rgba(150, 15, 198, 0.75) 100%
  );
}

button {
  transition: all;
  transition-duration: 500ms;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.342);
}
button:hover {
  scale: 125%;
}
.try-log-wait {
  width: 100vw;
  width: 100vh;
  background-color: #338899;
}

.dash-grid-area {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "one two";
  grid-template-columns: 10rem auto;
  grid-template-rows: 100%;
}

.dash-grid-area-1 {
  grid-area: one;
}
.dash-grid-area-2 {
  grid-area: two;
}
.dash-grid-area-3 {
  grid-area: three;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
