html {
  color: #171514;
  background-color: #a8a29e;
}

.try-log-wait {
  width: 100vw;
  width: 100vh;
  background-color: #338899;
}

.dash-grid-area {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "one two";
  grid-template-columns: 10rem auto;
  grid-template-rows: 100%;
}

.dash-grid-area-1 {
  grid-area: one;
}
.dash-grid-area-2 {
  grid-area: two;
}
.dash-grid-area-3 {
  grid-area: three;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
